// Этот блок ответственнен за типографику проекта.
// Не пишите тут какую-либо стороннюю стилизацию.

body {
  font-family: $font-family;
}

h1, .head-h1 {
  font-weight: 100;
  font-size: 48px;

  @media(min-width: $screen-md){

  }
  @media(min-width: $screen-lg){

  }
}

h2, .head-h2 {
  font-size: 24px;
  font-weight: 100;

  @media(min-width: $screen-md){

  }
  @media(min-width: $screen-lg){

  }
}

h3, .head-h3 {
  font-size: 15px;
  font-weight: 100;

  @media(min-width: $screen-md){
    font-size: 17px;
  }
  @media(min-width: $screen-lg){
    font-size: 19px;
  }
}

p {


  @media(min-width: $screen-md){

  }
  @media(min-width: $screen-lg){

  }
}
