
.accordion-group {
  &__main {
    $block-name: &;
    position: absolute;
    display: flex;
    width: 100%;
    top: 0px;
    height: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
    list-style: none;
    transition: all 300ms ease;

    &__hidden {
      display: none;
      max-height: 0;
      transition: max-height 0.250ms ease-in-out;
      // overflow: hidden;
      // height: 100%;

      .promo-menu {
        height: 100%;
      }
    }

    &__list {
      flex: 1;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 250ms ease-in-out;

      .accordion-overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        transition: all 250ms ease-in-out;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .4);
          transition: all 250ms ease-in-out;
        }
      }
      
      &.out {
        flex: 0 0 620px;
        
        .accordion-overlay {
          &:before {
            opacity: 1;
          }
        }

        #{$block-name} {
          &__content {
            // transform: translateY(20%);
          }

          &__hidden {
            max-height: 100%;
            display: block;
            // transition: max-height 0.25s ease-in-out;
          }

          &__header {
            margin-bottom: 55px;
            padding-left: 20px;
            padding-right: 20px;
          }

          &__title {
            font-size: 41px;
            line-height: 48px;
            margin-bottom: 11px;
          }

          &__catalog {
            display: inline-block;
          }
        }
      }
    }

    &__content {
      width: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      //width: 100%;
      // height: 100%;
      // transform: translateY(50%);
    }

    &__header {
      // position: absolute;
      // transform: translate(-50%, -50%);
      // transform: translate(-50%, -300%);
      // top: 0%;
      // left: 50%;
      // width: 100%;
      // transition: all 450ms ease-in-out;
      padding: 0px 10px;
    }

    &__catalog {
      display: none;
      color: white;
      border: 1px solid white;
      font-size: 19px;
      line-height: normal;
      padding: 11px 10px 7px 10px;
      min-width: 158px;
      text-transform: uppercase;
      
      &:hover, &:focus {
        text-decoration: none;
        color: white;
      }
    }

    &__title {
      position: relative;
      color: white;
      text-transform: uppercase;
      font-size: 30px;
      line-height: 39px;
    }
  }
}