// В этом файле должны быть стили для БЭМ-блока promo-badge, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promo-badge {

  $block-name:                &; // #{$block-name}__element {}
  background-image: url(../img/sales.png);
  width: 112px;
  min-height: 51px;
  background-size: contain;
  font-size: 24px;
  color: white;
  line-height: 50px;
  text-align: center;
  padding: 0px 10px;
}
