
.hamburger {
  cursor: pointer;

  .line{
    width: 29px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
  
    &:hover{
      cursor: pointer;
    }
  }

  &.is-active .line:nth-child(1),
  &.is-active .line:nth-child(3){
    width: 29px;
  }

  &.is-active .line:nth-child(1){
    transform: translateX(7px) rotate(45deg);
  }
  
  &.is-active .line:nth-child(3){
    transform: translateX(7px) rotate(-45deg);
    margin-top: 4px;
  }
}